.header, .main, .footer-container, .map-demo p { width: 720px; margin: 0 auto; }
footer .downloads { display: block; text-align: right; }
.dload { display: inline-block; }
.social-share.no-box { text-align: center; display: block; margin-bottom: 20px; height: 20px; margin-top: 20px; }
.social-share.no-box .sb { width: 17%; }
.social-share.no-box .btn { display: none; }